RewriteEngine On
RewriteBase /

# https only
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# no www
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ http://%1%{REQUEST_FILENAME} [R=301,L]

RewriteRule ^$ index.php?page=index [NC,L]
RewriteRule ^terms index.php?page=terms [NC,L]
RewriteRule ^eurotrip-europa-patches-for-propellerhead-reason-and-vst$ index.php?page=eurotrip [NC,L]