RewriteEngine On
RewriteBase /

# https only
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# no www
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ http://%1%{REQUEST_FILENAME} [R=301,L]

# redirects
Redirect 301 /eurotrip-europa-refill-for-propellerhead-reason /eurotrip-europa-patches-for-reason-and-vst
Redirect 301 /eurotrip-europa-patches-for-propellerhead-reason-and-vst /eurotrip-europa-patches-for-reason-and-vst
Redirect 301 /europaclub-europa-patches-for-propellerhead-reason-and-vst /europaclub-europa-patches-for-reason-and-vst

# nice urls
RewriteRule ^$ index.php?page=index [NC,L]
RewriteRule ^terms index.php?page=terms [NC,L]
RewriteRule ^eurotrip-europa-patches-for-reason-and-vst$ index.php?page=eurotrip [NC,L]
RewriteRule ^europaclub-europa-patches-for-reason-and-vst$ index.php?page=europaclub [NC,L]
RewriteRule ^complexworld-complex-1-patches-for-reason$ index.php?page=complexworld [NC,L]
RewriteRule ^complexcinema-complex-1-patches-for-reason$ index.php?page=complexcinema [NC,L]
RewriteRule ^kongking-kong-patches-for-reason$ index.php?page=kongking [NC,L]
RewriteRule ^oldschool808patterns-drum-patterns-for-reason$ index.php?page=oldschool808patterns [NC,L]
RewriteRule ^synthpower-combinator-patches-for-reason$ index.php?page=synthpower [NC,L]
RewriteRule ^rhythmicfxpack-combinator-patches-for-reason$ index.php?page=rhythmicfxpack [NC,L]
RewriteRule ^multibandessentials-combinator-patches-for-reason$ index.php?page=multibandessentials [NC,L]
RewriteRule ^kickdrum-synthesizer-collection-combinator-patches-for-reason$ index.php?page=kickdrumsynthesizercollection [NC,L]
RewriteRule ^satisfriktion-patches-for-friktion-modeled-strings-for-reason$ index.php?page=satisfriktion [NC,L]
RewriteRule ^amalgamcinema-amalgam-synthesizer-patches-for-reason$ index.php?page=amalgamcinema [NC,L]
RewriteRule ^freebies$ index.php?page=freebies [NC,L]